body {
  font-family: Ebrima;
  background: #dcdcdc;
}

.headerTitle {
  padding-top: 10px;
  font-weight: 500;
  text-align: center;
  font-size: 40px;
  color: #000000;
}

.headerResults {
  padding-top: 10px;
  font-weight: 300;
  text-align: center;
  font-size: 25px;
  color: #000;
  padding-bottom: 25px;
}

.newAnalysis {
  font-weight: 100;
  font-size: 15px;
  padding-bottom: 100px;
}

h3 {
  width: 80%;
  font-weight: 400;
  color: #00001a;
}

.container {
  margin: auto;
  width: 80%;
}

.form-group {
  padding: 1px 10x;
  width: 100%;
}

textarea {
  border-radius: 6px;
  width: 100%;
  padding-top: 8px;
}

.options_row {
  display: flex;
  justify-content: space-between;
}

.documentation {
  align-items: center;
  display: flex;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 5px;
  left: 0px;
  right: 0px;
}

.imageContainer {
  width: 68px;
  height: 68px;
  border: 1px solid;
  border-color: #eb8b0e;
  opacity: 0.9;
  display: flex;
}

.image {
  width: 66px;
  height: 66px;
}

.imageContainer .analysisHeader {
  margin-top: 20px;
  padding-left: 10px;
  white-space: nowrap;
  font-size: larger;
  font-weight: 650;
}

.analysisResult {
  margin-top: 5px;
}

.btn .btn-link .text-right {
  text-align: right;
}

.overusedAnalysis {
  border-top: 1px solid;
  border-color: #dcdcdc;
}

.overusedWordLemma {
  padding-left: 30px;
  padding-top: 20px;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid;
  border-color: #dcdcdc;
}

.overusedWordSentence {
  font-size: smaller;
  padding-top: 20px;
}

.overusedWordCluster {
  border-right: 1px solid;
  border-color: #dcdcdc;
}

.sentence {
  font-size: smaller;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.analysisInfoContainer {
  flex-basis: 45%;
}

.analysisInfo {
  vertical-align: middle;
  font-size: smaller;
}

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.65) url(../images/loading_spinner.gif)
    no-repeat center center;
  z-index: 10000;
}

#showMoreButton {
  margin-bottom: 20px;
}
