<!DOCTYPE html>
<html>

<head>
  <title>Lõputöö analüsaator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link href="{{ url_for('static', filename='styles/style.css') }}" type="text/css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <h1 class="headerTitle">Lõputöö analüsaator</h1>

    <form method="POST" action="/">
      <div class="form-group">
        <textarea class="form-control" rows="26" type="text" name="user_text"
          placeholder="Sisesta siia oma lõputöö tekst"></textarea>
      </div>
      <div class="options_row">
        <div>
          <input class="btn btn-primary" type="submit" value="Analüüsi" />
        </div>
        <div class="documentation">
          <a href="documentation">Dokumentatsioon</a>
        </div>
      </div>
    </form>
  </div>
  <footer>© Karl Erik Karindi 2020</footer>
</body>

</html>